@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <div>
            Du er logget ind!
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            Du er ikke logget ind!
        </div>
    </NotAuthorized>
</AuthorizeView>